<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="icon" type="image/png" href="/public/favicon.png">
	<style>
	.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
</head>
<body>